table{
font-weight:Bold;
font-variant:normal;
font-size:20px;
margin-top:25px;
border:50px;
border-color:#f4001a;
border-style:groove;
}

td{
padding-bottom:10px;
padding-left:10px;
padding-right:10px;
padding-top:10px;
}

tr{
padding-bottom:10px;
padding-left:10px;
padding-right:10px;
padding-top:10px;
}

header{
padding:25px;
width:100%;
background-color:#f4001a;
}

font{
color:#fff;
font-size:40px;
}
option{
align:center;
}
.formsub{  
background-color:#f4001a;  
padding: 7px 10px 7px 10px;  
color:white;   
margin:5px 5px 0px;  
font-family:'Raleway',sans-serif;
border-radius:6px;  
cursor:pointer;
font-size:14px;
height:35px;
text-align:center;
}